body {
  min-width: 390px;
  margin: 0;
  padding: 0;
}

#app {
  position: relative;
  min-height: 400px;
  color: #666;
  font-size: 12px;
}

body .el-popper{
  padding: 2px;
  color: #999;
}

body .el-popper.is-light {
  border: 1px solid #409eff;
}

body .el-button--mini {
  min-height: 22px;
  padding: 4px 6px;
}

body .el-dialog__title {
  font-size: 14px;
  line-height: 14px;
}

body .el-dialog__footer {
  padding: 0 20px 10px;
}

body .el-dialog__body {
  padding: 2px 20px;
}

body .el-message{
  min-width: 100px;
  padding: 5px 10px;
  opacity: .9;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  background-color: #f6f6f6;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.2);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.marginBottom{
  padding-bottom: 30px;
}