body {
  margin: 0;
  padding: 0;
}

#app {
  color: #666;
  font-size: 12px;
}

body .el-popper{
  padding: 2px;
  color: #999;
}

body .el-popper.is-light {
  border: 1px solid #409eff;
}

body .el-button--mini {
  min-height: 22px;
  padding: 4px 6px;
}

body .el-dialog__title {
  font-size: 14px;
  line-height: 14px;
}

body .el-dialog__footer {
  padding: 0 20px 10px;
}

body .el-dialog__body {
  padding: 2px 20px;
}

body .el-message{
  min-width: 100px;
  padding: 5px 10px;
  opacity: .9;
}
